
<%= link_to "Create Account", new_user_path %>
<!-- <div class="parallax-container">
  <div class="parallax"><img src="images/coffee.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Welcome to My Coffee Now</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/pexels-photo.jpg"></div>
</div> -->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="images/coffee.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="images/pexels-photo.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
