
<div class="row">
  <div class="col 12">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="https://static.pexels.com/photos/9186/food-beans-coffee-drink-large.jpg">
          <div class="caption center-align">
            <h3>Welcome to My Coffee Now!</h3>
            <h5 class="light grey-text text-lighten-3">A perfect cup every time.</h5>
          </div>
        </li>
        <li>
          <img src="https://static.pexels.com/photos/2059/restaurant-red-beans-coffee-large.jpg">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
