<h1> <%= current_user.username %>'s Orders'  </h1>

<% @orders.each do |order| %>
Order number:<%= order.id %>
<ul>
<li> Order quantity: <%= order.quantity %></li>
<li> Order total: <%= number_to_currency(order.sum) %></li>

</ul>

<%end %>
