<br>
<h1 class="container">Categories</h1>
<table>
  <tr>
    <td data-field="name">Category Name</td>
  </tr>

  <%@categories.each do |category| %>
  <tr>
    <div id="category<%= "#{category.id}"%>">
      <td> <%=link_to category.name, category_path(category.slug) %>  </td>
    </div>
  </tr>
    <% end %>

</table>
