<head>
  <nav>
    <div class="nav-wrapper #000000 black">
      <a href="#" class="brand-logo ">My Coffee Now</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down #40c4ff light-blue accent-2">
        <li><a href="sass.html">Login</a></li>
        <li><a href="badges.html">Menu</a></li>
        <li><a href="collapsible.html">Cart</a></li>

      </ul>
    </div>
  </nav>

</head>
<br>
<h1 class="container">Categories</h1>
<table>
  <tr>
    <td data-field="name">Category Name</td>
  </tr>

  <%@categories.each do |category| %>
  <tr>
    <div id="category<%= "#{category.id}"%>">
      <%= binding.pry %>
      <td> <%=link_to category.name, category_path(category.slug) %>  </td>
    </div>
  </tr>
    <% end %>

</table>
