<br>
<h1 class="container">Categories</h1>

<ul class="collection">
  <%@categories.each do |category| %>
    <li class="collection-item" id="category<%= category.id %>"><%=link_to category.name, category_path(category.slug) %></li>
  <% end %>
</ul>
